{% extends 'AppCoder/padre.html'%}  
{% load static %}
{% block contenidoQueCambia %}
<h1>About Us <img src="https://i.ibb.co/f0PMXDx/Pablo-Foto.png" height="300px" width="320px" style="float: right;"/></h1>
<h2>Pablo Romero </h2>
<p>Nacido el 12 de Agosto de 1990 en Buenos Aires, Argentina. Cinefilo, nerd, critico, un mal comediante y aventurero cuando la situacion lo requiere, mis pasiones son tan diversas como mis errores ortograficos (el que avisa no traiciona).
<br>Siempre con ansias de aprender cosas nuevas y especializarme en las ya conocidas, comence con mi camino en sistemas en la Universidad de la Matanza y luego especializandome con cursos de Desarrollo Full Stack y Desarrollo en Python.
<br>Laboralmente me desarrollado en puestos tan variados como los de atencion al cliente, soporte tecnico, analista de implementaciones, QA y soporte de aplicaciones, en empresas multinacionales como Telecom y Navent.

</p>


{% endblock %}