{% extends 'AppCoder/padre.html'%}  
{% load static %}
{% block contenidoQueCambia %}

<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<h1>CONÓZCANOS</h1>
<p>Nos conocemos desde hace mucho tiempo, te cuidamos más que nunca. 

    Somos el Centro Medico Privado, poseemos años de trayectoria y creciente expansión nacional.
    
    Nacimos para cuidarte y elevar tu calidad de vida. Ponemos el acento en los afectos, el bienestar, lo saludable, en disfrutar cada instante y también, en la prevención.
    
    Pero por sobre todas las cosas, estamos allí cuando nos necesites, para darte respuestas ágiles con la mejor calidad de atención y un servicio prestacional de excelencia.</p>

<h3>"La Salud es un bien a cuidar, no un problema a solucionar."</h3>


{% endblock %}